// partial SCSS file
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Given default font size 16px, 10pt is 62.5%. This defines what 1rem is...hence base.scss */
}

body {
  font-family: "Raleway";
  font-weight: 400;

  box-sizing: border-box;
  background-color: #272b30;
}

h1 {
  font-weight: 800;
  font-size: 10rem;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: #1c1e22;
  height: 100%;

  color: #ffe300;

  // background: linear-gradient(
  //     to right bottom,
  //     rgba(24, 24, 24, 1),
  //     rgba(58, 56, 54, 0.7)
  //   ),
  //   url("./img/wood-wallpapers.jpg");
  // background-size: cover;
  // background-position: center;

  & > p {
    font-size: 1.8rem;
  }
}

section {
  margin-top: 7rem;
}
