// partial SCSS file
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Given default font size 16px, 10pt is 62.5%. This defines what 1rem is...hence base.scss */
}

body {
  font-family: "Raleway";
  font-weight: 400;

  box-sizing: border-box;
  background-color: #272b30;
}

h1 {
  font-weight: 800;
  color: #ffe300;
}

p {
  color: #ffe300;
}

.header {
  height: 22vh;

  background-color: #1c1e22;
}

.row {
  height: 22vh;
}

.card__wrapper > .container {
  height: 68vh;
  padding-top: 0;
  margin-top: 0;

  // background-color: #272b30;
}

.header__container__row__col {
  text-align: center;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 7rem;
}

@media (min-width: 550px) {
  h1 {
    font-size: 9rem;
  }
  p {
    font-size: 1.8rem;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 7rem;
  }
  p {
    font-size: 1.4rem;
  }
}
