.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem;

  background-color: #272b30;
  border: 0;

  &__side {
    color: #fff3f0;
    font-size: 2.5rem;
    border: 1.3rem solid #0c0d0e;

    height: 55rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: #c0a345; // rgb(250, 202, 100);
      background-image: url("./img/questionmark_svg.png");
      background-repeat: no-repeat;
      background-position: center;

      border-radius: 10px;
    }

    &--back {
      transform: rotateY(180deg);

      padding: 1.5rem;
      border-radius: 10px;
      background-color: #58493b;

      // background-image: linear-gradient(
      //   to right,
      //   $color-secondary-light,
      //   $color-secondary-dark
      // );
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}

.col-md-4 {
  margin-bottom: 1.5rem;
}
