.card {
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  position: relative;
  height: 68vh;

  background-color: #272b30;
  border: 0;

  &__side {
    color: #fff3f0;
    font-size: 2.5rem;
    border: 1.3rem solid #0c0d0e;

    height: 85rem;
    max-height: 68vh;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: #c0a345; // rgb(250, 202, 100);
      background-image: url("./img/question_mark_svg.png");
      background-repeat: no-repeat;
      background-position: center;

      border-radius: 10px;
    }

    &--back {
      transform: rotateY(180deg);

      padding: 2rem;
      border-radius: 10px;
      background-color: #58493b;

      & .row {
        // background-color: rgb(40, 122, 122);
        height: 60vh;
      }
    }
  }

  &:active &__side--front,
  &:focus &__side--front,
  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:active &__side--back,
  &:focus &__side--back,
  &:hover &__side--back {
    transform: rotateY(0);
  }
}
