*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* Given default font size 16px, 10pt is 62.5%. This defines what 1rem is...hence base.scss */ }

body {
  font-family: "Raleway";
  font-weight: 400;
  box-sizing: border-box;
  background-color: #272b30; }

h1 {
  font-weight: 800;
  color: #ffe300; }

p {
  color: #ffe300; }

.header {
  height: 22vh;
  background-color: #1c1e22; }

.row {
  height: 22vh; }

.card__wrapper .col {
  width: 100%; }

.header__container__row__col {
  text-align: center; }

.container-fluid {
  margin: 0;
  padding: 0; }

section {
  margin-top: 7rem; }

@media (min-width: 576px) {
  h1 {
    font-size: 9rem; }
  p {
    font-size: 1.8rem; }
  .container {
    width: 540px; } }

@media (max-width: 576px) {
  h1 {
    font-size: 7rem; }
  p {
    font-size: 1.4rem; } }

.card {
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  position: relative;
  height: 68vh;
  background-color: #272b30;
  border: 0; }
  .card__side {
    color: #fff3f0;
    font-size: 2.5rem;
    border: 1.3rem solid #0c0d0e;
    margin-top: 12px;
    height: 85rem;
    max-height: 60vh;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #c0a345;
      background-image: url("./img/question_mark_svg.png");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px; }
    .card__side--back {
      transform: rotateY(180deg);
      padding: 2rem;
      border-radius: 10px;
      background-color: #58493b; }
      .card__side--back .row {
        height: 100%; }
  .card__text {
    height: 30px; }
  @media (min-width: 550px) {
    .card__side {
      font-size: 2.5rem; } }
  @media (max-width: 550px) {
    .card__side {
      font-size: 2rem; } }
  .card:active .card__side--front,
  .card:focus .card__side--front,
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:active .card__side--back,
  .card:focus .card__side--back,
  .card:hover .card__side--back {
    transform: rotateY(0); }
